a.news-card(class=newsCardModifer href=lnNews)
    img.news-card__img(src=newsCardImg)

    span.news-card__cart
        span.news-card__date=newsCardData
        strong.news-card__title()=newsCardTitle
        span.news-card__text=newsCardText
