+ aside('','Паломнику')
    a.aside__link.aside__link--si-active(href=lnNews) Духовная, физическая и финансовая подготовка к хаджу
    a.aside__link(href=lnNews) В дороге
    a.aside__link(href=lnNews) После прибытия в Саудовскую Аравию
    a.aside__link(href=lnNews) В дни Хаджа
    a.aside__link(href=lnNews) Что делать и не делать в Хадже
    a.aside__link(href=lnNews) Чрезвычайные ситуации
    a.aside__link(href=lnNews) Полезная информация
    a.aside__link(href=lnNews) Руководство паломникам Министерство по Хаджу КСА
